/* @font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico/Pacifico-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --font-family: "Inter", sans-serif; /*Comic Neue*/
    --font-family-clock: 'Pacifico', sans-serif;
    --font-size: 1.3em;
}

/* CSS for loading screen */
#loading-screen {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #433633;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 9999;
}

/* .loader { 
        //for animation styles
    } 
*/

#loading-screen p {
    font-family: var(--font-family);
    font-size: 1em;
    letter-spacing: 2px;

    color: #F7F0F5;
    font-weight: bold;
}

/* CSS for dark/light mode moved out because it doesn't apply to all elements anymore and varies based on laptop or mobile */

.dark-icon,
.light-icon {
    font-size: 1em;
}

/* CSS for menu container */
.menu {
    width: 15%;
    height: 35vh;

    position: absolute;
    top: 0%;
    
    /* border: 2px solid white;  */
    /*Keep this to troubleshoot responsiveness*/
}

/* CSS for menu button */
#menu {
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);

    position: absolute;
    top: 10%;
    left: 8%; 

    /* height: 20%; */
    /* top: 1em */

    padding: 0.3em;
    margin: 0;

    z-index: 2;
}

/* CSS for scrollbars */
::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
}
  
  /* Style the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
    background-color: #888; /* Set the color of the scrollbar thumb */
    border-radius: 50px; /* Set the same border-radius as your element */
}

/* CSS for buttons */
.button {
    font-family: var(--font-family), sans-serif;

    display: inline-block;

    white-space: nowrap; 

    font-size: 24px;
    font-weight: bold;
    text-align: center;
    
    /* color: #433633; 
    background-color: #F7F0F5; */ 

    padding: 15px 25px;
    /* border: 0.1em solid #1b1b1b; */
    box-shadow: 0 4px 4px #000000; 
    cursor: pointer;
}

.button.dark-mode {
    color: #433633;
    background-color: #f7f0f5;
    border: 1px solid #1b1b1b;
}

.button.light-mode {
    color: #433633;
    background-color: #f7f0f5;
    border: 1px solid #1b1b1b;
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.menu-icon {
    font-size: 1em;
    padding-right: 0.4em;
}

/* CSS for navigation bar */
#navigationbar {
    font-size: 0.8em;
    list-style-type: none;

    white-space: nowrap;

    position: absolute; 
    top: calc(10% + 50px);
    left: 8%;  

    /* top: 32%; */

    margin: 0;
    padding: 0;

    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transition: clip-path 0.5s ease-in-out;

    z-index: 20;
}

#navigationbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* trying to figure out a permanent color schema for navigation bar that does not toggle */

#navigationbar a {
    display: block;

    font-family: var(--font-family), sans-serif;
    padding: 0.5em;

    text-decoration: none;

    border-top: 1px solid #433633; 
}

#navigationbar.light-mode {
    background-color: #D9D9D9;
}

#navigationbar.dark-mode {
    background-color: #D9D9D9;
}

.nav-link-colors li a {
    color: #1b1b1b; /*#F7F0F5*/
}

.light-mode .nav-link-colors li a {
    color: #433633; 
}

#navigationbar a:visited {
    color: #1b1b1b; 
}

.light-mode #navigationbar a:visited {
    color: #433633; 
}

#navigationbar a:link {
    color: #1b1b1b; 
}

.light-mode #navigationbar a:link {
    color: #433633; 
}

.light-mode #navigationbar {
    border: 0.2em solid #433633;
}

/* CSS for button links - Sign In/Out and Dark/Light Mode */
.button-link {
    display: block;

    font-family: var(--font-family), sans-serif;

    color: #F7F0F5;

    padding: 0.5em;
    text-decoration: none;
}

.light-mode .button-link {
    color: #433633;
}

/* CSS for <select> elements and tags */
select {
    font-family: var(--font-family);

    background-color: white;
    color: black;

    border: 1px solid black;
}

select option {
    font-family: var(--font-family);

    background-color: white;
    color: black;
}

.tag {
    font-family: var(--font-family);
    font-size: 1em;

    display: inline-block;

    padding: 4px 6px;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.dark-mode .tag {
    background-color: #333;
    color: #e0e0e0;
}

.light-mode .tag {
    background-color: #333;
    color: #e0e0e0;
} 

/* MEDIA QUERIES*/

/* Styles for screens with width 480px or less (commonly used for mobile devices in portrait mode)
320px: This is the width of many mobile devices in portrait mode. */

@media (max-width: 480px) {
    .menu {
        width: 100%;
        height: 100%;
    }

    #menu {
        width: 100%;
        height: 10%;
        left: 0%;
        top: 0%;
        border-left: none;
        border-right: none;
    }

    #navigationbar {
        animation: expandNav 0.5s ease-in-out;
        transform-origin: top;
        width: 100%;
        top: 10%;
        left: 0%;
    }

    #navigationbar a {
        font-size: 2em;
        text-align: center;
    }

    @keyframes expandNav {
        from {
            transform: scaleX(0);
        }

        to {
            transform: scaleX(1);
        }
    }
}

/*480px: This is the width of many mobile devices in landscape mode.*/
@media (min-width: 480px) and (max-width: 768px) {}

/*768px: This is the width of most tablets in portrait mode.*/
@media (min-width: 768px) and (max-width:992px) {}

/*992px: This is the width of most tablets in landscape mode, and the minimum width for many desktop screens. */
@media (min-width: 992px) and (max-width: 1200px) {}

/*1200px: This is the width of many larger desktop screens.*/
@media (min-width: 1200px) {}